[Unit]
Description=KondaDB High-Performance Storage Engine
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/kondadb start --config /etc/kondadb/kondadb.toml
Restart=on-failure
StandardOutput=append:/var/log/kondadb/access.log
StandardError=append:/var/log/kondadb/error.log

[Install]
WantedBy=multi-user.target

