@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #ff5c35;
    --color-primary-hover: #e0451b;
    --color-primary-light: #ffd3c4;
    --color-primary-glow: rgba(255, 92, 53, 0.35);

    --color-secondary: #ffb830;
    --color-secondary-hover: #e09e1b;
    --color-secondary-light: #fff0d4;
    --color-secondary-glow: rgba(255, 184, 48, 0.35);

    --color-accent: #10b981;
    --color-accent-hover: #059669;
    --color-accent-light: #d1fae5;

    --color-navbar-bg: #e0451b;

    --color-body-bg: #f7f5f0;
    --color-panel-bg: #ffffff;
    --color-border-subtle: #f0e2da;
    --color-text-main: #1e140f;
    --color-text-muted: #7a6e67;
}

.dark {
    --color-primary: #ff5c35;
    --color-primary-hover: #ff7b5e;
    --color-primary-light: #ffd3c4;
    --color-primary-glow: rgba(255, 92, 53, 0.35);

    --color-secondary: #ffb830;
    --color-secondary-hover: #ffc75e;
    --color-secondary-light: #fff0d4;
    --color-secondary-glow: rgba(255, 184, 48, 0.35);

    --color-accent: #10b981;
    --color-accent-hover: #34d399;
    --color-accent-light: #d1fae5;

    --color-navbar-bg: #130f0c;

    --color-body-bg: #131313;
    --color-panel-bg: #291e1a;
    --color-border-subtle: #3d2924;
    --color-text-main: #f9f6f0;
    --color-text-muted: #a3968f;
}

@layer base {
    body {
        font-family: "DM Sans", sans-serif;
    }

    code,
    pre {
        font-family: "Source Code Pro", monospace;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(24, 24, 27, 0.1);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(24, 24, 27, 0.2);
}

.dark ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
}

.force-graph-container canvas {
    will-change: transform;
    backface-visibility: hidden;
}

.force-graph-container {
    transition: opacity 0.2s ease;
}
