<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Product
    Id='*'
    Name='LIVEN'
    UpgradeCode='DF8B5AEB-96E8-4EF5-86A8-71A37CD393A2'
    Manufacturer='LIVEN Team'
    Language='1033'
    Codepage='1252'
    Version='$(var.Version)'>

    <Package Id='*'
      Keywords='Installer'
      Description='LIVEN High-Performance Storage Engine'
      Comments='LIVEN'
      Manufacturer='LIVEN Team'
      InstallerVersion='450'
      Languages='1033'
      Compressed='yes'
      SummaryCodepage='1252' />

    <MajorUpgrade
      Schedule='afterInstallInitialize'
      DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.' />

    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
    <Property Id='DiskPrompt' Value='LIVEN Installation' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='APPLICATIONFOLDER' Name='LIVEN'>
          <Component Id='License' Guid='*'>
            <File Id='LicenseFile' Name='README.md' Source='README.md' KeyPath='yes'/>
          </Component>
          
          <Component Id='ConfigFile' Guid='3E112833-2895-4654-8B7C-D3F8CEFE4999'>
            <File Id='LivenConfig' Name='liven.toml' Source='liven.toml' KeyPath='yes'/>
          </Component>

          <Component Id='Path' Guid='A657D982-EC33-4D93-9F9C-5D59A8331777' KeyPath='yes'>
            <Environment
               Id='PATH'
               Name='PATH'
               Value='[APPLICATIONFOLDER]'
               Action='set'
               Part='last'
               System='yes' />
          </Component>

          <Component Id='LivenBinary' Guid='8C1FE3B8-F6E5-467D-89EA-6651E8408888'>
            <File
              Id='LivenEXE'
              Name='liven.exe'
              Source='$(var.CargoTargetBinDir)\liven.exe'
              KeyPath='yes' />
            
            <!-- Register LIVEN as a native Windows service -->
            <ServiceInstall
              Id='ServiceInstall'
              Name='LIVEN'
              DisplayName='LIVEN Storage Engine'
              Type='ownProcess'
              Start='auto'
              ErrorControl='normal'
              Description='LIVEN High-Performance Storage Engine'
              Arguments='start --config "[APPLICATIONFOLDER]liven.toml"'>
              <ServiceConfig
                OnInstall='yes'
                OnReinstall='yes'
                OnUninstall='no'
                DelayedAutoStart='no' />
            </ServiceInstall>
            
            <ServiceControl
              Id='ServiceControl'
              Name='LIVEN'
              Start='install'
              Stop='both'
              Remove='uninstall'
              Wait='yes' />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='MainApplication' Title='LIVEN Application' Level='1'>
      <ComponentRef Id='License' />
      <ComponentRef Id='ConfigFile' />
      <ComponentRef Id='LivenBinary' />
      <ComponentRef Id='Path' />
    </Feature>

  </Product>
</Wix>
